.foto-top {
    padding-right: 100px;
}

.informacio-ruta {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.titul-ruta {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}