/* Estils de Header */
header {
  display: flex;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  flex-wrap: wrap;
  /*background-color: rgb(117, 65, 0);*/
  background-color: rgb(16, 0, 117);
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: auto;
}

/* Estils d'Ancles <a>Ancla</a> */
a {
  text-decoration: none;
  color: white;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: grey;
}

/* Estils de Footer */
footer {
  position:static;
  bottom:0;
  /*background-color: rgb(117, 65, 0);*/
  background-color: rgb(16, 0, 117);
  flex-wrap: wrap;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}

.bottom_footer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 1%;
  
  padding: 10px 0;
  text-align: center;
  height: 1%;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  padding: 0px;
}

.social li {
  margin: 0 10px;
}

.social a {
  text-decoration: none;
  color: black;
}

.social a i {
  font-size: 1.1rem;
  transition: color .4s ease;
}

.social a:hover i {
  color: aquamarine;
  opacity: .6;
}

.fa-facebook {
  color: cornflowerblue;
}

.fa-twitter {
  color: darkcyan;
}

.fa-instagram {
  color: darkmagenta;
}

.fa-youtube {
  color: crimson;
}

/* Roger*/

body {
  /*background-color: #8f5100;*/
  background-color: #224c7c;
  margin: 0px;
}

h1 {
  margin-top: 75px;
  }

p,
h1,
h2,
ul,
.titol-foto {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.botonsAtrasSeguent {
  width: 50%;
  content-visibility: auto;
  margin-left: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.botoatras {
  
  border-radius: 50px;
  border: 5px solid rgb(0, 0, 0);
  background-color: grey;
  margin-top: auto;
  text-align: center;
  float: left;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 5px;
}

.botoseguent {
  border-radius: 50px;
  border: 5px solid rgb(0, 0, 0);
  background-color: grey;
  margin-top: auto;
  text-align: center;
  float: right;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 5px;
}

.w3-round-xlarge {

  border-radius: 16px;
  width: 50%;
  object-fit: cover;
}

.w3-round-xxlarge {
  border-radius: 32px
}

.imatge-top {

  text-align: center;
  position: relative;
  margin: auto;
}

.km-ruta-verd {

  font-size: 80px;
  border-radius: 16px;
  border: 5px solid rgb(69, 255, 69);
  background-color: green;
  margin-top: auto;
  text-align: center;
  float: right;
  margin-right: 25%;
}

.km-ruta-taronja {

  font-size: 80px;
  border-radius: 16px;
  border: 5px solid orange;
  background-color: rgb(255, 123, 0);
  margin-top: auto;
  text-align: center;
  float: right;
  margin-right: 25%;
}

.km-ruta-roig {

  font-size: 80px;
  border-radius: 16px;
  border: 5px solid rgb(150, 0, 0);
  background-color: red;
  margin-top: auto;
  text-align: center;
  float: right;
  margin-right: 25%;
}

.titol {
  margin-left: 25%;
}

.descripcio {
  width: 30%;
  margin-left: 25%;
  text-align: justify;
}

.itinerari {
  margin-left: 25%;
}

.itinerari-ruta {
  margin-left: 25%;
}

.imatges {
  margin-left: 25%;
}

.ubicacio {
  margin-left: 25%;
}

.mapa {
  text-align: center;
  margin-left: 25%;
  position: relative;
  margin: auto;
}

iframe {
  width: 600px;
  height: 450px;
}

/* Slideshow */

* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media only screen and (max-width: 1350px) {

  /* Header */
  header {
    position: fixed;
    
    z-index: 10;
  }

  nav {
    padding: 10px 0px;
  }

  /* Footer */
  footer {
    flex-direction: column;
  }

  .bottom_footer {
    flex-direction: column;      }

  
  h1 {
    font-size: 1.6em;
  }

  p {
    font-size: 0.9em;
  }

  .w3-round-xlarge,
  .slideshow-container {
    width: 90%;
  }

  .slideshow-container {
    max-width: 80%;
  }

  .km-ruta-verd {
    margin-top: 15px;
    float: unset;
    object-fit: cover;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }

  .km-ruta-taronja {
    margin-top: 15px;
    float: unset;
    object-fit: cover;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }

  .km-ruta-roig {
    margin-top: 15px;
    float: unset;
    object-fit: cover;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }

  .titol,
  .itinerari,
  .itinerari-ruta,
  .imatges,
  .ubicacio,
  .descripcio {
    margin-left: 10%;
    margin-right: 10%;
  }

  .descripcio {
    margin-top: 15px;
    position: relative;
    width: auto;
  }

  iframe {
    width: 80%;
    /* height: 80%; */
    position: relative;
  }
  .prev:hover,
  .next:hover {
    background-color: transparent;
  }

  .botonsAtrasSeguent {
    width: 80%;
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
  }
}

/* Configuracio RESPONSIVE JOSEP */
@media (max-width:700px) {

  /* Header */
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }

  /* Footer */
  footer {
    flex-direction: column;
  }

  .bottom_footer {
    flex-direction: column;      }
}